<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <add key="DBConnectionString" value="Server=39.108.6.0;user id=root;password=14159265jkl;database=weixin;Integrated Security=True"/></appSettings>

</configuration>
